node-red/flows_rasp.json
[{"id":"d8ddf146f4344d04","type":"tab","label":"arduino-rasp","disabled":false,"info":""},{"id":"6dda3639a789f77d","type":"serial in","z":"d8ddf146f4344d04","name":"","serial":"5c61c557.85017c","x":422,"y":224,"wires":[["2b9fa499a718237a"]]},{"id":"2b9fa499a718237a","type":"json","z":"d8ddf146f4344d04","name":"","property":"payload","action":"","pretty":false,"x":603,"y":264,"wires":[["ae56d8d0a1d1ccdc","e378126d77df8f20","f7580d38.030d4","1ceacb1a.217215","594d4be9.d138b4","fdd1b156.48c4b","7512e8e1.d25c98"]]},{"id":"ae56d8d0a1d1ccdc","type":"mqtt out","z":"d8ddf146f4344d04","name":"","topic":"iot/tag/tds","qos":"0","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"9a5f7a106bb3d927","x":793,"y":263,"wires":[]},{"id":"e378126d77df8f20","type":"serial out","z":"d8ddf146f4344d04","name":"","serial":"ab87e155.25ab58","x":810,"y":319,"wires":[]},{"id":"6a52acf4.d14dd4","type":"mqtt in","z":"d8ddf146f4344d04","name":"","topic":"iot/servo/tds","qos":"2","datatype":"auto","broker":"9a5f7a106bb3d927","nl":false,"rap":true,"rh":0,"x":421,"y":298,"wires":[["2b9fa499a718237a"]]},{"id":"a4d8df5e.ca298","type":"e-mail","z":"d8ddf146f4344d04","server":"smtp.gmail.com","port":"465","secure":true,"tls":false,"name":"","dname":"Bot Email","x":1396,"y":341,"wires":[]},{"id":"c1b31d5d.342ee","type":"debug","z":"d8ddf146f4344d04","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1404,"y":248,"wires":[]},{"id":"1d2e05fd.480d5a","type":"function","z":"d8ddf146f4344d04","name":"Trigger Alarm","func":"var payload=msg.payload.temperatura;\nvar alarm_flag=context.get(\"alarm_flag\");\nif(typeof alarm_flag==\"undefined\")\nalarm_flag=false;\n\nif (payload>30 && !alarm_flag)\n{\n    alarm_flag=true;\n    msg.alarm=1;\n    context.set(\"alarm_flag\",alarm_flag);\n    return msg;\n}\nif (payload<=30 && alarm_flag)\n{\n    alarm_flag=false;\n    msg.alarm=0;\n    context.set(\"alarm_flag\",alarm_flag);\n    return msg;\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1029,"y":248,"wires":[["c1b31d5d.342ee","818260ba.bcaa4"]]},{"id":"818260ba.bcaa4","type":"function","z":"d8ddf146f4344d04","name":"","func":"msg.to= msg.payload.endereco;\nmsg.from=\"iot2tdsa@gmail.com\";\n\nvar d =new Date();\nvar message=\"\";\nif(msg.alarm)\n{\n    msg.topic=\"Alarme de alta temperatura\";\n    message=\" Alarme de alta temperatura, temperatura= \";    \n}\nelse\n{\n    message=\" Temperatura agora normal, temperatura= \"; \n   msg.topic=\"Alarme de temperatura Resetado\";\n} \nmsg.payload=\"time:\"+d+message +msg.payload.temperatura;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1212,"y":337,"wires":[["c1b31d5d.342ee","a4d8df5e.ca298"]]},{"id":"7eda8aac.d50a34","type":"e-mail","z":"d8ddf146f4344d04","server":"smtp.gmail.com","port":"465","secure":true,"tls":false,"name":"","dname":"Bot Email","x":1386,"y":480,"wires":[]},{"id":"f74cedba.7c9db","type":"debug","z":"d8ddf146f4344d04","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1386,"y":410,"wires":[]},{"id":"257c815a.afc8ee","type":"function","z":"d8ddf146f4344d04","name":"Trigger Alarm","func":"var payload=msg.payload.umidade;\nvar alarm_flag=context.get(\"alarm_flag\");\nif(typeof alarm_flag==\"undefined\")\nalarm_flag=false;\n\nif (payload<50 && !alarm_flag)\n{\n    alarm_flag=true;\n    msg.alarm=1;\n    context.set(\"alarm_flag\",alarm_flag);\n    return msg;\n}\nif (payload>=50 && alarm_flag)\n{\n    alarm_flag=false;\n    msg.alarm=0;\n    context.set(\"alarm_flag\",alarm_flag);\n    return msg;\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1028,"y":410,"wires":[["f74cedba.7c9db","97d77e8c.371f7"]]},{"id":"97d77e8c.371f7","type":"function","z":"d8ddf146f4344d04","name":"","func":"msg.to= msg.payload.endereco;\nmsg.from=\"iot2tdsa@gmail.com\";\n\nvar d =new Date();\nvar message=\"\";\nif(msg.alarm)\n{\n    msg.topic=\"Alarme de baixa umidade\";\n    message=\" Alarme de baixa umidade, umidade= \";    \n}\nelse\n{\n    message=\" Umidade agora normal, umidade= \"; \n   msg.topic=\"Alarme de umidade Resetado\";\n} \nmsg.payload=\"time:\"+d+message +msg.payload.umidade;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1208,"y":482,"wires":[["f74cedba.7c9db","7eda8aac.d50a34"]]},{"id":"f7580d38.030d4","type":"debug","z":"d8ddf146f4344d04","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":805.5,"y":213,"wires":[]},{"id":"1c454815.726798","type":"join","z":"d8ddf146f4344d04","name":"","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":true,"timeout":"","count":"3","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"num","reduceFixup":"","x":795.5,"y":471,"wires":[["6725a5d5.90bcac","1d2e05fd.480d5a","257c815a.afc8ee"]]},{"id":"6725a5d5.90bcac","type":"debug","z":"d8ddf146f4344d04","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1015,"y":323,"wires":[]},{"id":"c376ed55.08d06","type":"change","z":"d8ddf146f4344d04","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.endereco","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"endereco","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":592,"y":520,"wires":[["1c454815.726798"]]},{"id":"20272bb7.a75154","type":"change","z":"d8ddf146f4344d04","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.umidade","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"umidade","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":599,"y":470,"wires":[["1c454815.726798"]]},{"id":"c251f381.df6a3","type":"change","z":"d8ddf146f4344d04","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.temperatura","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"temperatura","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":601,"y":424,"wires":[["1c454815.726798"]]},{"id":"1ceacb1a.217215","type":"switch","z":"d8ddf146f4344d04","name":"","property":"payload.temperatura","propertyType":"msg","rules":[{"t":"nnull"}],"checkall":"true","repair":false,"outputs":1,"x":430.5,"y":382,"wires":[["c251f381.df6a3"]]},{"id":"594d4be9.d138b4","type":"switch","z":"d8ddf146f4344d04","name":"","property":"payload.umidade","propertyType":"msg","rules":[{"t":"nnull"}],"checkall":"true","repair":false,"outputs":1,"x":423,"y":432,"wires":[["20272bb7.a75154"]]},{"id":"fdd1b156.48c4b","type":"switch","z":"d8ddf146f4344d04","name":"","property":"payload.endereco","propertyType":"msg","rules":[{"t":"nnull"}],"checkall":"true","repair":false,"outputs":1,"x":419,"y":478,"wires":[["c376ed55.08d06"]]},{"id":"39516df7.62ddb2","type":"comment","z":"d8ddf146f4344d04","name":"","info":"Checa se os parâmetros umidade, temperatura e email não estão vazios, apos isso filtra o payload para cada respectivo valor e define o msg.topic usado como chave no Node Join.","x":786.5,"y":513,"wires":[]},{"id":"e650de4.42c0c2","type":"telegram receiver","z":"d8ddf146f4344d04","name":"","bot":"f977bf5c.a95ac","saveDataDir":"","filterCommands":false,"x":356,"y":614,"wires":[["a8fb1297.30f58","c53092.dcb3df7"],[]]},{"id":"edf296cf.102bc8","type":"telegram sender","z":"d8ddf146f4344d04","name":"","bot":"f977bf5c.a95ac","haserroroutput":false,"outputs":1,"x":876,"y":611,"wires":[["7011ce6a.c0bf6"]]},{"id":"a8fb1297.30f58","type":"debug","z":"d8ddf146f4344d04","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":561.5,"y":720,"wires":[]},{"id":"7011ce6a.c0bf6","type":"debug","z":"d8ddf146f4344d04","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":937.5,"y":724,"wires":[]},{"id":"69c611e8.4ced9","type":"function","z":"d8ddf146f4344d04","name":"","func":"let data = new Date();\nmsg.payload = {\n    'content': data.toISOString()+ ' - ' + msg.payload.uidtag,\n    'chatId':msg.payload.chatId,\n    'type':'message'\n}\nreturn msg;\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":695.5,"y":612,"wires":[["edf296cf.102bc8"]]},{"id":"c53092.dcb3df7","type":"join","z":"d8ddf146f4344d04","name":"","mode":"custom","build":"merged","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":true,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"num","reduceFixup":"","x":555,"y":609,"wires":[["69c611e8.4ced9"]]},{"id":"7512e8e1.d25c98","type":"switch","z":"d8ddf146f4344d04","name":"","property":"payload.uidtag","propertyType":"msg","rules":[{"t":"nnull"}],"checkall":"true","repair":false,"outputs":1,"x":418.5,"y":525,"wires":[["c53092.dcb3df7"]]},{"id":"e1d59ddf.6e7ba","type":"change","z":"d8ddf146f4344d04","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.uidtag","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":586.5,"y":565,"wires":[[]]},{"id":"5c61c557.85017c","type":"serial-port","serialport":"/dev/ttyACM0","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","waitfor":"","dtr":"none","rts":"none","cts":"none","dsr":"none","newline":"\\n","bin":"false","out":"char","addchar":"","responsetimeout":"10000"},{"id":"9a5f7a106bb3d927","type":"mqtt-broker","name":"","broker":"broker.hivemq.com","port":"1883","clientid":"","usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"ab87e155.25ab58","type":"serial-port","serialport":"/dev/ttyACM0","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","waitfor":"","dtr":"none","rts":"none","cts":"none","dsr":"none","newline":"\\n","bin":"false","out":"char","addchar":"","responsetimeout":"10000"},{"id":"f977bf5c.a95ac","type":"telegram bot","botname":"FiapIOT_bot","usernames":"","chatids":"","baseapiurl":"","updatemode":"polling","pollinterval":"300","usesocks":false,"sockshost":"","socksprotocol":"socks5","socksport":"6667","socksusername":"anonymous","sockspassword":"","bothost":"","botpath":"","localbotport":"8443","publicbotport":"8443","privatekey":"","certificate":"","useselfsignedcertificate":false,"sslterminated":false,"verboselogging":false}]