node-red/flows_ibm.json
[{"id":"d8ddf146f4344d04","type":"tab","label":"Dashboard","disabled":false,"info":""},{"id":"a7ab8f2cc4e0c461","type":"change","z":"d8ddf146f4344d04","name":"tag","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.uidtag","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":710,"y":580,"wires":[["c14732f88cf5af4b","a0502b63dade2f36"]]},{"id":"c14732f88cf5af4b","type":"ui_text","z":"d8ddf146f4344d04","group":"1fd139a8a9564401","order":1,"width":0,"height":0,"name":"","label":"UID da Tag:","format":"{{msg.payload}}","layout":"row-spread","className":"","x":850,"y":540,"wires":[]},{"id":"c725ace9635c00e2","type":"change","z":"d8ddf146f4344d04","name":"temp","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.temperatura","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":590,"y":620,"wires":[["ea872f8f333d4fbd"]]},{"id":"b3b0e9a94d723fd1","type":"change","z":"d8ddf146f4344d04","name":"umidade","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.umidade","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":600,"y":660,"wires":[["f1afaeb5cf6c2fc6"]]},{"id":"ea872f8f333d4fbd","type":"ui_gauge","z":"d8ddf146f4344d04","name":"","group":"d42d41f0a0cb2706","order":1,"width":0,"height":0,"gtype":"gage","title":"Temperatura","label":"Celsius","format":"{{value}}","min":0,"max":"50","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","className":"","x":770,"y":620,"wires":[]},{"id":"f1afaeb5cf6c2fc6","type":"ui_gauge","z":"d8ddf146f4344d04","name":"","group":"d42d41f0a0cb2706","order":2,"width":0,"height":0,"gtype":"wave","title":"Umidade","label":"UR","format":"{{value}}","min":"20","max":"90","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","className":"","x":760,"y":660,"wires":[]},{"id":"bccde95469a74ffc","type":"ui_gauge","z":"d8ddf146f4344d04","name":"","group":"1fd139a8a9564401","order":2,"width":0,"height":0,"gtype":"donut","title":"Servo Motor","label":"Graus","format":"{{value}}","min":0,"max":"180","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","className":"","x":770,"y":700,"wires":[]},{"id":"bc0790a99ae7e1fd","type":"ui_slider","z":"d8ddf146f4344d04","name":"","label":"Grau de Abertura","tooltip":"","group":"1fd139a8a9564401","order":3,"width":0,"height":0,"passthru":true,"outs":"end","topic":"topic","topicType":"msg","min":"20","max":"160","step":"40","className":"","x":450,"y":840,"wires":[["ec94b0812f8e8fab"]]},{"id":"4a60a00164168430","type":"mqtt out","z":"d8ddf146f4344d04","name":"","topic":"iot/servo/tds","qos":"2","retain":"","broker":"9a5f7a106bb3d927","x":810,"y":860,"wires":[]},{"id":"ec94b0812f8e8fab","type":"function","z":"d8ddf146f4344d04","name":"criar json","func":"var data={\"posicao\":msg.payload};\nmsg.payload= JSON.stringify(data);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":620,"y":840,"wires":[["4a60a00164168430"]]},{"id":"6d123096a5ba530c","type":"change","z":"d8ddf146f4344d04","name":"posicao","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.posicao","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":600,"y":700,"wires":[["bccde95469a74ffc"]]},{"id":"59bab9d6b1c0b164","type":"ui_template","z":"d8ddf146f4344d04","group":"1fd139a8a9564401","name":"Display","order":5,"width":"0","height":"0","format":"<style>\n.main{\n    height : 250px\n}\n</style>\n<div class=main ng-bind-html=\"msg.payload\"></div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","className":"","x":1040,"y":580,"wires":[[]]},{"id":"a0502b63dade2f36","type":"function","z":"d8ddf146f4344d04","name":"lista de mensagens","func":"var data=context.get('data') || {};\n\nvar payload=msg.payload;\nnode.log(payload);\nvar d= new Date();\n\nnow=d.getTime();\nvar s= new Date(now);\nvar mtime=s.getDate()+\"/\"+(s.getMonth()+1)+\"/\" +s.getFullYear()+ \" - \"+ s.getHours() +\":\"+s.getMinutes()+\":\"+s.getSeconds();\nif (data.message==undefined)\n    {\n    data.message=[];\n    data.time=[];\n    }\ndata.message.push(payload);\ndata.time.push(mtime);\n//change from 10 to 50 to display last 50 messages\nif (data.message.length>10)\n{\n    data.message.shift();\n    data.time.shift();\n}\n\n\n//node.log(\"data \" + data.message.length);\n\ncontext.set('data',data);\nvar s=\"\";\nfor (i=(data.message.length-1);i>=0;i--)\n    s=s+\"<p>\"+data.time[i]+\"  <b>\"+data.message[i]+\"</b></p>\";\n\nmsg.payload=s;\nmsg.time=data.time;\nreturn msg;","outputs":1,"noerr":8,"initialize":"","finalize":"","x":870,"y":580,"wires":[["59bab9d6b1c0b164"]]},{"id":"ecf51667520133b6","type":"ui_form","z":"d8ddf146f4344d04","name":"","label":"Notificações via e-mail","group":"d42d41f0a0cb2706","order":3,"width":0,"height":0,"options":[{"label":"email","value":"endereco","type":"email","required":true,"rows":null}],"formValue":{"endereco":""},"payload":"","submit":"enviar","cancel":"cancelar","topic":"topic","topicType":"msg","splitLayout":"","className":"","x":580,"y":880,"wires":[["4a60a00164168430","a80b5326902fd2e1"]]},{"id":"a80b5326902fd2e1","type":"debug","z":"d8ddf146f4344d04","name":"debug 5","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":800,"y":920,"wires":[]},{"id":"a4f910e332352e88","type":"ui_button","z":"d8ddf146f4344d04","name":"","group":"d42d41f0a0cb2706","order":4,"width":"0","height":"0","passthru":false,"label":"Bot Telegram","tooltip":"","color":"","bgcolor":"#0088cc","className":"","icon":"fa-telegram fa-2x","payload":"Node-RED","payloadType":"str","topic":"","topicType":"str","x":430,"y":760,"wires":[["ecd13a26fde6f13f"]]},{"id":"b71f284f3ee90a7f","type":"ui_template","z":"d8ddf146f4344d04","group":"d42d41f0a0cb2706","name":"window redirect","order":1,"width":0,"height":0,"format":"<script>\n(function(scope) {\n    scope.$watch('msg.payload', function(data) {\n        if (data == \"Node-RED\") {\n          window.open(\"https://t.me/FiapIOT_bot\");\n          //window.location.href = \"https://www.nodered.org\";\n        } \n        if (data == \"GitHub\") {\n          window.open(\"https://github.com/csleal/checkpoint04\");\n          //window.location.href = \"https://github.com/node-red\";\n        } \n    });\n})(scope);\n</script>","storeOutMessages":false,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","className":"","x":800,"y":780,"wires":[["de93c6cb369066ae"]]},{"id":"b69e235a1b6f0e17","type":"ui_button","z":"d8ddf146f4344d04","name":"","group":"1fd139a8a9564401","order":6,"width":"0","height":"0","passthru":false,"label":"Repositório GitHub","tooltip":"","color":"","bgcolor":"","className":"","icon":"fa-github-alt fa-2x","payload":"GitHub","payloadType":"str","topic":"","topicType":"str","x":410,"y":800,"wires":[["ecd13a26fde6f13f"]]},{"id":"ecd13a26fde6f13f","type":"trigger","z":"d8ddf146f4344d04","name":"reset msg","op1":"","op2":"empty","op1type":"pay","op2type":"str","duration":"250","extend":false,"overrideDelay":false,"units":"ms","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":620,"y":780,"wires":[["b71f284f3ee90a7f"]]},{"id":"de93c6cb369066ae","type":"debug","z":"d8ddf146f4344d04","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":990,"y":780,"wires":[]},{"id":"654e027775c290b0","type":"switch","z":"d8ddf146f4344d04","name":"","property":"payload.uidtag","propertyType":"msg","rules":[{"t":"nnull"}],"checkall":"true","repair":false,"outputs":1,"x":590,"y":580,"wires":[["a7ab8f2cc4e0c461"]]},{"id":"e77ee61f.2b3a68","type":"debug","z":"d8ddf146f4344d04","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":410,"y":520,"wires":[]},{"id":"2d3b871be7685f6f","type":"mqtt in","z":"d8ddf146f4344d04","name":"","topic":"iot/tag/tds","qos":"2","datatype":"json","broker":"9a5f7a106bb3d927","x":300,"y":640,"wires":[["c725ace9635c00e2","b3b0e9a94d723fd1","654e027775c290b0","e77ee61f.2b3a68","6d123096a5ba530c"]]},{"id":"1fd139a8a9564401","type":"ui_group","name":"Controle de acesso","tab":"bf201f66f6889184","order":1,"disp":true,"width":"6","collapse":false,"className":""},{"id":"d42d41f0a0cb2706","type":"ui_group","name":"Clima","tab":"bf201f66f6889184","order":2,"disp":true,"width":"6","collapse":false,"className":""},{"id":"9a5f7a106bb3d927","type":"mqtt-broker","name":"","broker":"broker.hivemq.com","port":"1883","clientid":"","usetls":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"bf201f66f6889184","type":"ui_tab","name":"Home","icon":"dashboard","order":2,"disabled":false,"hidden":false}]